.content {
  width: 94%;
  max-width: 48rem;
  align-self: center;
  padding: 0.5rem;
  margin: 1rem;
  border-left: 2px solid var(--container-border-color);
  border-radius: 0.65rem;
}

code {
  display: inline-block;
  padding-block: 0.15rem;
  padding-inline: 0.3rem;
  border-radius: 0.3rem;
  background-color: darkslategrey;
  margin: 0.1rem;
}

@media (prefers-color-scheme: light) {

  pre,
  code {
    color: var(--background-color);
  }
}

pre {
  display: block;
  margin: 0.7rem;
}

.post-title {
  font-size: 2.4rem;
  color: var(--text-color);
}

.post-date {
  color: var(--link-text-color);
  margin-bottom: 1rem;
}

.post-content>ul,
.post-content>ol {
  padding-inline: 3rem;
  margin-block: 0.3rem;
}

.post-content>ul>li {
  list-style: circle;
}

.post-content>ol>li {
  list-style: decimal;
}

.post-content a {
  color: var(--link-text-color);
  text-decoration: underline;
  font-weight: 500;
  font-style: italic;
}

.post-content a:hover {
  color: var(--link-hover-text-color);
}