@media (prefers-color-scheme: light) {
  :root {
    --background: whitesmoke;
    --text: #333;
    --borders: #333;
    --social-icon-filter: none;
    --title-icon-filter: invert();
    --about-title: black;
    --social-icon-hover: cyan;
    --profile-image-filter: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #011;
    --text: whitesmoke;
    --borders: #aaa;
    --social-icon-filter: invert();
    --title-icon-filter: none;
    --about-title: white;
    --social-icon-hover: darkcyan;
    --profile-image-filter: brightness(0.9);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: var(--text);
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 16px;
}

body {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bar {
  padding: 0.5rem;
}

.header-icon {
  width: 2.5rem;
  margin-right: 0.5rem;
  filter: var(--title-icon-filter);
}

.header-name {
  font-size: 2rem;
  font-weight: semibold;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.profile-image {
  width: 90%;
  max-width: 18rem;
  object-fit: cover;
  border-radius: 50%;
  filter: var(--profile-image-filter);
  box-shadow: 0 0 18px 18px var(--background) inset;
}

.about-title {
  font-size: 2rem;
  color: var(--about-title);
  margin-bottom: 1rem;
}

.blinking-cursor {
  animation: blink 1s infinite;
}

.about-description {
  font-size: 1.1rem;
  max-width: 36rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-left: var(--borders) solid 0.3rem;
  border-radius: 0.5rem;
}

.tools {
  flex-direction: column;
  padding: 1rem;
}

.scrolling-tools {
  flex-wrap: wrap;
  max-width: 36rem;
  gap: 1rem;
  margin-top: 1rem;
}

.tool-img {
  width: 3rem;
  filter: var(--social-icon-filter);
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.social-title {
  font-size: 1.75rem;
}

.social-link-container {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 54rem;
}

.social-link {
  text-align: center;
  font-size: 1.25rem;
  font-weight: semibold;
  padding-inline: 6rem;
  padding-block: 1rem;
  margin: 0.4rem;
  border: var(--borders) solid 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.social-icon {
  width: 1.7rem;
  margin-right: 0.75rem;
  filter: var(--social-icon-filter);
}

.social-link:hover {
  background-color: var(--social-icon-hover);
  transition: all;
  transition-duration: 150ms;
}

.footer-bar {
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
}

.footer-bar span {
  margin-inline: 1rem;
}

.footer-bar a {
  opacity: 85%;
}

.footer-bar a:hover {
  color: var(--social-icon-hover);
  border-bottom: var(--borders) solid 0.1rem;
  cursor: pointer;
  transition: all;
}