<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{post.description}">
  <title>{post.title}</title>
  <link rel="shortcut icon" href="../images/favicon.svg" type="image/x-icon">

  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/post.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
  <link rel="stylesheet" href="../css/dracula.css">
</head>

<body class="flex flex-col">
  <a href="/" class="header-bar flex-center">
    <img src="../images/favicon.svg" alt="Letra D maiúscula sendo a inicial do meu nome" class="header-icon">
    <span class="header-name">Dheison Gomes</span>
  </a>
  <main class="content flex flex-1 flex-col">
    <h2 class="post-title">{post.title}</h2>
    <span class="post-date">Data de publicação: {post.date}</span>
    <div class="post-content">{content}</div>
  </main>
  <footer class="footer-bar flex-center">
    <span>Feito por <a href="https://github.com/dheison0/dheison0.github.io">Dheison Gomes!</a></span>
    <span>Ícones obtidos no <a href="https://www.svgrepo.com">SVG Repo.</a></span>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</body>

</html>