<style>
  pre {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    display: block;
    overflow-x: scroll;
  }

  pre span {
    color: white;
  }

  @media (prefers-color-scheme: dark) {
    pre {
      border: 0.5rem solid var(--project-hover);
    }
  }

  .post-content {
    margin-inline: 1rem;
    flex: 1;
    display: flex;
  }

  .published {
    color: #aaa;
    margin: 2rem;
  }

  .post-title {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
</style>

<div class="center post-content">
  <div style="max-width: 64rem;">
    <h2 class="center post-title">{{.Title}}</h2>
    {{.Content}}
  </div>
</div>
<div class="published center">Publicado em: {{.Date}}</div>