@media (prefers-color-scheme: light) {
  :root {
    --background-color: whitesmoke;
    --header-hover-color: gainsboro;
    --title-color: black;
    --text-color: #333;
    --link-text-color: #111;
    --link-hover-text-color: darkblue;
    --container-border-color: #333;
    --container-hover-color: cyan;
    --social-icon-filter: none;
    --title-icon-filter: invert();
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #011;
    --header-hover-color: darkslategray;
    --title-color: white;
    --text-color: whitesmoke;
    --link-text-color: white;
    --link-hover-text-color: darkcyan;
    --container-border-color: #aaa;
    --container-hover-color: darkcyan;
    --social-icon-filter: invert();
    --title-icon-filter: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: var(--text-color);
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
  margin-block: 0.7rem;
}

:root {
  font-size: 1rem;
  background-color: var(--background-color);
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex,
.flex-center {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.subtitle {
  font-size: 1.75rem;
}

body {
  height: 100vh;
  justify-content: space-between;
}

.header-bar {
  padding: 0.5rem;
  transition: all;
  transition-duration: 150ms;
}

.header-bar:hover {
  background-color: var(--header-hover-color);
  cursor: pointer;
  border-radius: 0 0 25% 25%;
}

.header-icon {
  width: 2.5rem;
  margin-right: 0.5rem;
  filter: var(--title-icon-filter);
}

.header-name {
  font-size: 2rem;
  font-weight: semibold;
}

.footer-bar {
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  margin: 1rem;
}

.footer-bar span {
  margin-inline: 1rem;
}

.footer-bar a {
  opacity: 85%;
}

.footer-bar a:hover {
  color: var(--link-hover-text-color);
  text-decoration: underline;
}