.content {
  width: 92%;
  max-width: 46rem;
  align-self: center;
}

code {
  display: inline-block;
  padding-block: 0.15rem;
  padding-inline: 0.3rem;
  border-radius: 0.3rem;
  background-color: darkslategrey;
  margin: 0.2rem 0;
}

@media (prefers-color-scheme: light) {

  code {
    color: var(--background-color);
  }

  code * {
    color: var(--background-color);
  }
}

pre {
  display: block;
  overflow-x: scroll;
  margin: 0.7rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre code {
  width: 100%;
}

.post-title {
  font-size: 2.4rem;
  color: var(--text-color);
}

.post-date {
  color: var(--link-text-color);
  margin-bottom: 1rem;
}

.post-content p {
  margin-block: 0.7rem;
  vertical-align: center;
}

.post-content>ul,
.post-content>ol {
  padding-inline: 1rem;
  margin-block: 0.3rem;
}

li {
  list-style: circle;
  margin-left: 1rem;
}

.post-content ol>li {
  list-style: decimal;
}

.post-content a {
  color: var(--link-text-color);
  text-decoration: underline;
  font-weight: 500;
  font-style: italic;
}

.post-content a:hover {
  color: var(--link-hover-text-color);
}

.post-content blockquote {
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-left: var(--container-border-color) solid 0.4rem;
  margin-inline: 1rem;
}