.content {
  width: 94%;
  max-width: 48rem;
  align-self: center;
  padding: 0.5rem;
  margin: 1rem;
  border-left: 2px solid var(--borders);
  border-radius: 0.65rem;
}

.flex-1 {
  flex: 1;
}

code {
  display: block;
}

.post-title {
  font-size: 2.4rem;
  color: var(--text);
}