.content {
  width: 94%;
  max-width: 48rem;
  align-self: center;
  padding: 0.5rem;
  margin: 1rem;
  border-left: 2px solid var(--borders);
  border-radius: 0.65rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block: 0.5rem;
}

.flex-1 {
  flex: 1;
}

code {
  display: inline-block;
  padding-block: 0.15rem;
  padding-inline: 0.3rem;
  border-radius: 0.3rem;
  background-color: darkslategrey;
  margin: 0.1rem;
}

@media (prefers-color-scheme: light) {

  pre,
  code {
    color: var(--background);
  }
}

pre {
  display: block;
  margin: 0.7rem;
}

.post-title {
  font-size: 2.4rem;
  color: var(--text);
}