:root {
  --webicon-spacing-size: 0.45rem;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --icons: black;
    --text-color: #333;
    --borders: #444;
    --project-hover: rgb(196, 230, 230);
    --link-normal-color: gray;
    --link-hover-color: black;
    background-color: whitesmoke;
  }

  .main-link img {
    border: var(--webicon-spacing-size) solid var(--icons);
    border-radius: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --icons: white;
    --text-color: lightcyan;
    --borders: #aaa;
    --project-hover: #44475a;
    --link-normal-color: #ddd;
    --link-hover-color: white;
    background: #282a36;
  }

  .main-link img {
    margin: var(--webicon-spacing-size);
  }
}

* {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: var(--link-normal-color);
}

a:hover {
  color: var(--link-hover-color);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.main-link {
  display: flex;
}

.main-link a {
  display: flex;
  align-items: center;
}

.main-link img {
  width: 3.5rem;
  margin-right: 0.8rem;
}

.main-link h1 {
  font-size: 2.5rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.menu img {
  width: 2.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 600px) {
  .menu span {
    display: none;
  }
}


.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 1rem;
  max-width: 100vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}